<%= form_with(model: species, local: true) do |form| %>
  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
        <% species.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :botanical_group, class: 'form-label' %>
    <%= form.select(:botanical_group, Species.botanical_groups.keys.map { |g| [g.humanize, g] }, {}, class: 'form-select') %>
  </div>

  <div class="mb-3">
    <%= form.label :botanical_name, class: 'form-label' %>
    <%= form.text_field :botanical_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :common_names, class: 'form-label' %>
    <%= form.text_field :common_names, class: 'form-control' %>
  </div>

  <div class="">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
