<% unless @species.paper_trail.live? %>
  <div class="alert alert-warning" role="alert">
    This is an older version of <%= link_to "this page", species_path(@species) %> from <%= time_tag @species.updated_at %>.
  </div>
<% end %>

<% if policy(Species).update? %>
  <div class="float-right mt-2">
    <%= link_to 'Delete', @species, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger mr-2', role: 'button' %>
    <%= link_to 'Edit', edit_species_path(@species), class: 'btn btn-primary', role: 'button' %>
  </div>
<% end %>

<h1><%= title @species.botanical_name %></h1>

<p>
  <%= @species.botanical_name %><% if @species.common_names.present? %>, commonly known as <%= humanize_list(@species.common_names) %>,<% end %>
  is <%= @species.botanical_group.start_with?('e') ? 'an' : 'a' %>
  <%= link_to @species.botanical_group.humanize.downcase, species_index_path(filter: @species.botanical_group.dasherize) %>
  <% if @species.fruits? %>
    <%= link_to 'fruit-bearing', species_index_path(filter: 'fruit-bearing') %>
  <% elsif @species.flowers? %>
    <%= link_to 'flowering', species_index_path(filter: 'flowering') %>
  <% end %>
  tree.
</p>

<% Species.text_attributes.each do |attr| %>
  <% if @species.send(attr).present? %>
    <h3><%= attr.capitalize %></h3>
    <p><%= @species.send(attr) %></p>
  <% end %>
<% end %>

<p class="mt-4 text-muted">
  Last <%= link_to "updated", versions_species_path(@species), class: "text-muted" %>
  on <%= time_tag @species.versions.last.created_at.to_date %>
  by <%= link_to_version_author(@species.versions.last) %>
</p>

<hr>

<h2>Comments</h2>
<% @species.comments.each do |comment| %>
  <div class="card mb-3" id="comment-<%= comment.id %>">
    <div class="card-header">
      <strong><%= link_to comment.user.username, comment.user, class: "text-dark" %></strong>
      commented on <%= link_to(polymorphic_path(comment.commentable, anchor: "comment-#{comment.id}"), class: "text-reset") { time_tag comment.created_at } %>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= comment.body %>
      </p>
    </div>
  </div>
<% end %>

<%= form_for [@species, @species.comments.build] do |form| %>
  <%= form.text_area :body, class: "form-control mb-3", placeholder: "Leave a comment" %>
  <%= form.submit("Comment", class: "btn btn-primary") %>
<% end %>
